
ion-content {
    --background: #ebeef7;
}

.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 20px 20px;
    background: white;
    border-radius: 10px;
    color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    ion-icon {
        color: #c2c5cc;
        font-size: 36px;
    }

    .data {
        display: flex;
        flex-direction: column;

        .balance {
            font-size: 12px;
            color: #989aa0;
            padding-left: 2px;
            padding-top: 6px;
        }
    }
}