<app-header title="Transaction history"></app-header>

<ion-content [fullscreen]="true">
  @for (transaction of transactions(); track transaction) {
    <div class="transaction" (click)="viewTransaction(transaction)">
      <div class="data">
        <span class="amount">{{ transaction.amount }}</span>
        <span class="balance">Balance: 123.56$</span>
      </div>
      <ion-icon name="add-outline"></ion-icon>
    </div>
  }
  <!-- <div class="transaction">
    <div class="data">
      <span class="amount">44.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="w"></ion-icon>
  </div>
  <div class="transaction">
    <div class="data">
      <span class="amount">-22.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="remove-outline"></ion-icon>
  </div>
  <div class="transaction">
    <div class="data">
      <span class="amount">36.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="add-outline"></ion-icon>
  </div>
  <div class="transaction">
    <div class="data">
      <span class="amount">-123.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="remove-outline"></ion-icon>
  </div> -->

</ion-content>
