<app-header title="Transaction history"></app-header>

<ion-content [fullscreen]="true">
  <div class="transaction" (click)="viewTransaction()">
    <div class="data">
      <span class="amount">51.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="add-outline"></ion-icon>
  </div>
  <div class="transaction">
    <div class="data">
      <span class="amount">44.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="w"></ion-icon>
  </div>
  <div class="transaction">
    <div class="data">
      <span class="amount">-22.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="remove-outline"></ion-icon>
  </div>
  <div class="transaction">
    <div class="data">
      <span class="amount">36.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="add-outline"></ion-icon>
  </div>
  <div class="transaction">
    <div class="data">
      <span class="amount">-123.15 $</span>
      <span class="balance">Balance: 123.56$</span>
    </div>
    <ion-icon name="remove-outline"></ion-icon>
  </div>

</ion-content>
