<app-header title="Transaction history"></app-header>

<ion-content [fullscreen]="true">
  @for (transaction of transactionsForView; track transaction) {
  <div class="transaction" (click)="viewTransaction(transaction)">
    <div class="data">
      <span class="amount">
        @if (transaction.type === 'expense') { - }{{ transaction.amount }}</span
      >
      <span class="balance">Balance: {{ transaction.currentBalance }}$</span>
    </div>
    <ion-icon name="add-outline"></ion-icon>
  </div>
  }
</ion-content>
