<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="goBack()" slot="start" fill="clear">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <span class="back-button-txt">
        Back
      </span>
    </ion-button>
    <ion-title slot="end">View transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="transaction">
      <div class="data">
        <span class="amount-text">Date:</span>
        <span class="date">{{ transaction?.date| date: "MM. dd. YYYY" }}</span>
      </div>
      <div class="data">
        <span class="amount-text">Transaction type:</span>
        <span class="type">{{ transaction?.type }}</span>
      </div>
      <div class="data">
        <span class="amount-text">Transaction category:</span>
        <span class="category">{{ transaction?.category }}</span>
      </div>
      <div class="data">
        <span class="amount-text">Amount:</span>
        <span class="amount">{{ transaction?.amount }}$</span>
      </div>
      <div class="data">
        <span class="amount-text">Note:</span>
        <span class="note">{{ transaction?.note }}</span>
      </div>
    </div>
  </div>
</ion-content>
