<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>View transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="transaction">
      <div class="data">
        <span class="amount-text">Date:</span>
        <span class="date">21.04.2025</span>
      </div>
      <div class="data">
        <span class="amount-text">Transaction type:</span>
        <span class="type">Expense</span>
      </div>
      <div class="data">
        <span class="amount-text">Transaction category:</span>
        <span class="category">Other</span>
      </div>
      <div class="data">
        <span class="amount-text">Amount:</span>
        <span class="amount">844.50 $</span>
      </div>
      <div class="data">
        <span class="amount-text">Note:</span>
        <span class="note">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quasi ab doloremque laborum dolorem, ea sint sunt aperiam voluptatem officiis.</span>
      </div>
    </div>
  </div>
</ion-content>
