ion-content {
    --background: var(--ion-background-color);
    
    .content-wrapper {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .balance {
            min-height: 8rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 20px 20px;
            background: var(--ion-background-secondary-color);
            border-radius: 10px;
            color: var(--ion-text-color);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

            ion-icon {
                color: #c2c5cc;
                font-size: 36px;
            }

            .data {
                display: flex;
                flex-direction: column;
                flex: 1;

                .amount-text {
                    font-size: 1rem;
                    color: var(--ion-text-color);
                }

                .amount {
                    font-size: 2rem;
                    color: var(--ion-text-color);
                    font-weight: 500;
                }
            }

            .month {
                flex: 0;
                align-self: baseline;
                color: var(--ion-text-color);
            }
        }

        .chart {
            border-radius: 10px;
            background-color: var(--ion-background-secondary-color);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            padding-top: 10px;
            padding-bottom: 20px;

            h3 {
                text-align: center;
                margin-bottom: 24px;
            }
        }
    }

}