<app-header title="Balance"></app-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="balance">
      <div class="data">
        <span class="amount">{{ balance }} $</span>
        <span class="amount-text">Available balance</span>
      </div>
      <div class="month">Date: {{ currentDate }}</div>
    </div>
    <div class="balance">
      <div class="data">
        <span class="amount">{{ monthlySpendAmount }} $ </span>
        <span class="amount-text">Spent this month</span>
      </div>
      <time class="month">Month: {{ currentMonthName }}</time>
    </div>
    <div class="chart">
      <h3>Your spending by category</h3>
      <canvas aria-label role="img" id="myDoughnutChart" width="400" height="400"></canvas>
    </div>
  </div>
</ion-content>
