ion-content {
  --background: var(--ion-background-color);

  .transaction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    margin: 20px 20px;
    background: var(--ion-background-secondary-color);
    border-radius: 10px;
    color: var(--ion-text-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  ion-item {
    --background: var(--ion-background-secondary-color) !important;
    border: none !important;
  }

  .list-ios {
    background: var(--ion-background-secondary-color) !important;
  }

  .list-md {
    background: var(--ion-background-secondary-color) !important;
  }
}

ion-datetime {
  --background: var(--ion-background-secondary-color);
  --color: var(--ion-text-color);
  --placeholder-color: var(--ion-color-medium);
}