<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <ion-icon name="person-add"></ion-icon>

    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        <ion-note color="danger">
          Enter a valid email.
        </ion-note>
      }
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Repeat Password</ion-label>
        <ion-input type="password" formControlName="repeatPassword"></ion-input>
      </ion-item>

      @if(registerForm.errors?.['mismatch'] && registerForm.get('repeatPassword')?.touched) {
        <ion-note color="danger">
          Passwords do not match.
        </ion-note>
      }
  
      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
        Register
      </ion-button>
    </form>
  </div> 
</ion-content>